/*Estilos del menu*/
  #menu li{
    margin:auto 1rem;
  }
body{
   overflow-x: hidden;
}

#container_grados .grado {
  flex: 0 0 calc(33.333% - 1.33rem);
  max-width: 300px;
}
#soporte {
    padding: 20px 100px;
    max-width: 40%;
    margin: 10px auto;
  }
  
  #form_soporte input[type="text"],
  #form_soporte input[type="email"] {
    max-width: 450px;
  }
  
  #form_soporte input[type="submit"] {
    width: 250px;
    max-width: 300px;
}