/.vscode/
/src/database/databaseDesktop/nbproject/private/
/src/database/databaseDesktop/build/
/src/databaseDesktop/nbproject/private/
src/opiApp/local.properties

src/opiApp/local.properties
*.properties
