html{
    width: 100%;
    height: 100%;
}
*{
    margin: 0;
}
#gracias h1{
     font-size: 90px;
     text-align: center;
}
#gracias p{
    text-align: center;
}
header{
    background-color: #0D3C68;
}
nav{
    display: inline;
}
ol{
    display: inline;
}
li{
    display: inline-block;
    margin-right: 13%;
}
a{
    text-decoration: none;
    color: white;
}
h1{
    color: #0D3C68;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
p{
    margin-left: 30px;
}
h2{
    color: #0D3C68;
    margin-left: 20px;
}
form{
    margin: 1%;
    margin-left: 30%;
    margin-right: 40%;
    border: 2px #0D3C68 solid;
}
label{
    display: inline-block;
}
input{
    display: inline-block;
    width: 80%;
}
form div{
    margin: 2%;
}
form h2{
    margin: 0;
}
img{
    margin: 0px;
    padding: 0px;
}
#imagenCompra{
    margin-right: 0px;
}
table{
    margin-left: 25px;
}
th{
    border: 1px solid black;
}
td{
    border: 1px solid black;
    text-align: center;
}
#botonCompra{
    display: inline;
    border: 0;
    margin: 0;
}
#botonCompra label{
    margin: 10px;
    display: inline;
    margin-right: 0px;
    margin-left: 0px;
}
#botonCompra p{
    margin-left: 10%;
}
#definicion{
    margin-top: 20px;
}
#terminos{
    margin-top: 20px;
}
.textoLargo{
    color: grey;
}
.opinion{
    color: #0D3C68;
    text-decoration: none;
    text-align: center;
}
footer{
    background-color: #0D3C68;
    border-top: 2px solid black;
    color: white;
}
footer li{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5%;
}