@media (max-width: 768px){
    #imagenCompraPersonas{
        display: none;
    }
    #imagenConcepto{
        display: none;
    }
    .imagenPersonas{
        display: none;
    }
    input{
        width: 70%;
    }
}